version: 2
updates:
  - package-ecosystem: "composer"
    directory: "/"
    schedule:
      interval: "weekly"
    reviewers:
      - "julioccorreia" 
    labels:
      - "dependencies"
  
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"